# Byte-compiled / optimized / DLL files
__pycache__/

# Private folders
private/

# Generated folders during training and validation
outputs/
log/
script/
dataset_conversion/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg